body{
background: url(imgs/anders-jilden-cYrMQA7a3Wc-unsplash.jpg);
}
.navbar-brand img{
width: 150px;
}
.navbar-brand{
  margin-right: 0;
  padding: 0 1em;
}
.navbar-nav{
align-items: center;
}
.navbar .navbar-nav .nav-link{
  color: #fff;
  font-size: 1.1em;
  padding: .5em 1em;
}
@media screen and (min-width: 992px){
  .navbar-brand img{
    width: 200px;
  }
}
  
