.navbar-brand img{
  width: 100;
}

.navbar-nav{
  text-align: end;
  font-family: Heebo, sans-serif;
  font-style: normal;
  color: rgb(0,132,75) ;
  font-size: 15px ;
  line-height: 23px ;
  font-display: none;
}


.paragraph{
  color: rgba(48, 48, 48, 0.705);
  text-align: center;
  font-family: montserrat, sans-serif;
  word-spacing: 10px;
  line-height: 30px;
  justify-content: center;
  }

  .text-start{
     color: rgba(48, 48, 48, 0.822);
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
}

.hero-text{
  flex: 1;
  max-width: 550px;
}
.hero-text h1{
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.hero-text p{
  line-height: 1.6;
}
.hero-image img{
width: 400px;
height: auto;
border-radius: 8px;
}
p{
  line-height: 1.7;
}



